.new-session-form {
  margin-top: 40px;
}

.new-session-form__confirm-password {
  transition: height 0.3s ease, padding 0.3s ease;

  &[disabled] {
    height: 0;
    padding: 0 12px;
    background-color: @input-bg;
  }
}

.new-session-form--is-sign-up .new-session-form__confirm-password {
  height: 37px;
  padding: 6px 12px;
}


input.new-session-form__radio {
  -webkit-appearance: none;
  .hallah-form-control();
  float: left;
  width: 100px;
  margin-right: 40px;
  margin-bottom: 10px;
  min-width: inherit;
  .box-shadow(0 0 0 3px rgba(255,255,255,.3));

  &:checked {
    .box-shadow(0 0 0 3px rgba(255,255,255,.6));
  }
}

.new-session-form__radio--sign-in {
  &:after {
    content: "Sign in";
  }
}

.new-session-form__radio--sign-up {
  &:after {
    content: "Sign up";
  }
}
