.guest-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.guest-item__history {
  float: right;
  padding: 0;
  list-style: none;
  cursor: default;
}

.guest-item__history-item {
  display: inline;
}

.guest-item__history-item--invited,
.guest-item__history-item--accepted,
.guest-item__history-item--tentative,
.guest-item__history-item--confirmed {
  color: rgba(0,0,0,0.4);
}
.guest-item__history-item--declined {
  display: none;
}
.guest-item__history-item--canceled,
.guest-item__history-item--no-showed {
  color: rgba(255,0,0,0.5);
}
.guest-item__history-item--showed {
  color: rgba(0,0,0,1);
}
