.invitation-item {
  margin-bottom: 6px;
}

.invitation-item__guest-info {
  margin-bottom: 6px;

  cursor: pointer;
}

.invitation-item__guest-name {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;

  font-size: 31px;
  line-height: 31px;
  font-weight: 100;
}

.invitation-item__invitation-state {
}

.invitation-item__dietary-restrictions {
  opacity: .7;
}