.dinner {
  &:nth-child(1),
  &:nth-child(2) {
    .dinner__header {
      background-color: rgba(255, 255, 255, .5);
    }
  }

  &:nth-child(3) {
    .dinner__header {
      // background-color: #000;
      // opacity: .3;
    }
  }

  &.dinner-past {
    .dinner__header {
      background-color: rgba(102, 102, 102, 0.9);
    }

    .dinner__body {
      background-color: rgba(204, 204, 204, 0.9);
    }
  }
}

.dinner__header {
  padding-top: 36px;
  color: #fff;
}

.dinner__body {
  padding-top: 16px;
  padding-bottom: 60px;

  // &:after {
  //   display: block;
  //   height: 16px;

  //   content: '.';
  //   color: transparent;
  // }
}

.dinner__body {
  background-color: #fff;
  // background-color: rgba(255, 255, 255, 0.7);
}

.dinner__header__content,
.dinner__body__content {
  position: relative;
  z-index: 1;
  padding: 0 32px;
}

.hallah-container {
  position: relative;
  left: 50%;
  margin-left: -300px;
  width: 600px;
}
