@import "packages/bootstrap3-less/lib/less/bootstrap.lessimport";
@import "selectize_variables.lessimport";
@import "vendor/selectize.bootstrap3.lessimport";

.container {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
}
.jumbotron {
  padding: 100px;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.5;
  color: #ececec;
  background-color: #715bde;
  border-radius: 13px;
  font-family: "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial Narrow", "Arial" sans-serif;
}
h1 {
  line-height: 1;
}
p {
  line-height: 1.4;
}
button {
  background: #eee;
  padding: 10px 20px;
}

.badge-danger {
  background-color: #d9534f;
}

.invitation-item {
  line-height: 34px;
}

.invitation-state-declined,
.invitation-state-canceled,
.invitation-state-no-showed {
  color: #ccc;
}

.hallah-form-control {
  width: 100%;
}

.body__background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background: #00a012; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #00a012 0%, #bdd600 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00a012), color-stop(100%,#bdd600)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #00a012 0%,#bdd600 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #00a012 0%,#bdd600 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #00a012 0%,#bdd600 100%); /* IE10+ */
  background: linear-gradient(135deg,  #00a012 0%,#bdd600 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a012', endColorstr='#bdd600',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-position:fixed;
}

.body__content {
  position: relative;
  z-index: 1;
}
