<template name="dinnerItem">
  <li class="{{classes}}">
    <header class="dinner__header l-retainer">
      <div class="dietary-restrictions">
        {{#each dietaryRestrictions}}
          {{> dietaryRestrictionItem}}
        {{/each}}
      </div>
      <h1 class="dinner__title">{{formatDate date}}</h1>
    </header>
    <div class="dinner__body l-retainer">
      <div class="form-group">
        <textarea class="hallah-form-control js-dinner-notes" placeholder="Notes">{{notes}}</textarea>
      </div>
      <ul class="dinner__invitation-list">
        {{#each invitations}}
          {{> invitationItem}}
        {{else}}
          <li class="invitation-item text-muted">No guests invited</li>
        {{/each}}
      </ul>
      <div class="form-group">
        <li>{{> newInvitation}}</li>
      </div>
    </div>
  </li>
</template>
