<template name="dinnerItem">
  <li class="dinner panel panel-default">
    <header class="panel-heading clearfix">
      <span class="panel-title">{{formattedDate}}</span>
      {{#if dietaryRestrictions.count}}
        <div class="pull-right">
          {{#each dietaryRestrictions}}
            <span class="badge">{{label}}</span>
          {{/each}}
        </div>
      {{/if}}
    </header>
    <div class="panel-body">
      <div class="form-group">
        <textarea class="form-control js-notes" placeholder="Notes">{{notes}}</textarea>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td colspan="2">{{> newInvitation}}</td>
        </tr>
      </thead>
      <tbody>
        {{#each invitations}}
          {{> invitationItem}}
        {{else}}
          <tr><td class="text-muted">No guests invited</td></tr>
        {{/each}}
      </tbody>
    </table>
  </li>
</template>
