<template name="header">
  <nav class="header">
    <div class="l-retainer">
      {{#if currentUser}}
        <div class="header__session">
          <p><span class="header__session__current-user-label">{{currentUserLabel}}</span> <a class="header__session__sign-out-btn" href="{{pathFor 'destroySession'}}">Sign out</a></p>
        </div>
        <ul class="header__links">
          <li><a href="{{pathFor 'dinnersList'}}"><p>Dinners</p></a></li>
          <li><a href="{{pathFor 'guestsList'}}"><p>Guests</p></a></li>
          <li><a href="{{pathFor 'dinnersPastList'}}"><p>History</p></a></li>
        </ul>
      {{/if}}
    </div>
  </nav>
</template>
