<template name="editGuest">
  <form class="form">
    <div class="form-group row">
      <div class="col-md-6 pull-right">
        <input type="submit" class="btn btn-primary btn-sm pull-right" value="Save" />
        <button class="btn btn-link btn-sm pull-right js-cancel">Cancel</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <input class="form-control input-sm"
               type="text"
               name="guestName"
               value="{{fullName}}"
               placeholder="Name" />
        <label class="sr-only" for="guestName">First name</label>
      </div>
    </div>
  </form>
  <div class="form">
    <div class="form-group">
      <label class="sr-only">Dietary restrictions</label>
      <select class="form-control input-sm js-select-dietary-restrictions"
             type="select"
             multiple="multiple"
             name="guestDietaryRestrictionIds"
             placeholder="Dietary restrictions"></select>
    </div>
    <div class="form-group">
      <button class="btn btn-danger pull-right btn-xs js-disable-guest">Disable</button>
    </div>
  </div>
</template>
