
<template name="editGuest">
  {{#with editingGuest}}
    <div class="hallah-modal-drop js-close-modal"></div>
    <div class="hallah-modal">
      <div class="h-modal__header">
        <h5>Edit</h5>
        <h4>{{fullName}}</h4>
      </div>

      <form class="form">
        <div class="form-group h-modal__body">
          <input class="hallah-form-control"
                 type="text"
                 name="guestName"
                 value="{{fullName}}"
                 placeholder="Name" />
          <label class="sr-only" for="guestName">First name</label>

          {{> editGuestDietaryRestrictions}}
        </div>

        <ul class="h-radio-list">
          <li><a class="js-save h-radio-list__item h-radio-list__item--primary">Save</a></li>
          <li><a class="js-cancel h-radio-list__item">Cancel</a></li>
          <li class="h-radio-list__spacer"></li>
          <li><a class="js-disable-guest h-radio-list__item h-radio-list__item--danger">Remove guest</a></li>
        </ul>
      </form>


<!--
      <div class="form">
        <div class="form-group">
          <label class="sr-only">Dietary restrictions</label>
          <select class="js-select-dietary-restrictions"
                 type="select"
                 multiple="multiple"
                 name="guestDietaryRestrictionIds"
                 placeholder="Dietary restrictions"></select>
        </div>
        <div class="form-group clearfix">
          <button class="btn btn-danger pull-right btn-xs js-disable-guest">Disable</button>
        </div>
      </div>
 -->    </div>
  {{/with}}
</template>
