<template name="editGuest">
  <form class="form">
    <div class="form-group row">
      <div class="col-md-6">
        <input class="form-control input-sm"
               type="text"
               name="guestName"
               value="{{fullName}}"
               placeholder="Name" />
        <label class="sr-only" for="guestName">First name</label>
      </div>
      <div class="col-md-6">
        <input type="submit" class="btn btn-primary btn-sm pull-right" value="Save" />
        <button class="btn btn-link btn-sm pull-right js-cancel">Cancel</button>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only">Dietary restrictions</label>
      <input class="form-control input-sm"
             type="text"
             name="guestDietaryRestrictions"
             value="{{dietaryRestrictions}}"
             placeholder="Dietary restrictions" />
    </div>
  </form>
</template>