<template name="guestItem">
  <div class="guest-item">
    <div class="l-retainer">
      <h3>{{name}}</h3>
      <ul class="guest-item__history">
        {{#each invitations}}
          <li class="guest-item__history-item guest-item__history-item--{{invitationStateCodeFor state}}">|</li>
        {{/each}}
      </ul>
      <p>
        {{#if lastInvited}}
          Last invited: {{formatDate lastInvited}}, {{year lastInvited}}
        {{else}}
          Never invited
        {{/if}}
      </p>
    </div>
  </div>
</template>
