<template name="header">
  <nav class="header">
    <div class="l-retainer">
      {{#if currentUser}}
        <div class="header__session">
          <p>
            <span class="header__session__current-user-label">{{currentUserLabel}}</span>
            <button class="header__session__sign-out-btn js-sign-out-btn">Sign out</button>
          </p>
        </div>
        <ul class="header__links">
          <li><a href="{{pathFor 'dinnersList'}}"><p>Dinners</p></a></li>
          <li><a href="{{pathFor 'guests'}}"><p>Guests</p></a></li>
          <li><a href="{{pathFor 'dinnersPastList'}}"><p>History</p></a></li>
        </ul>
      {{else}}
        <h1>Hallah</h1>
      {{/if}}
    </div>
  </nav>
</template>
