<template name="invitationItem">
  {{#if editing}}
    <li class="">{{> editGuest guest}}</li>
  {{else}}
    <li class="invitation-item {{stateClass}} clearfix">
      <b>{{guest.name}}</b>
      <button class="btn btn-link btn-xs js-edit-guest">edit</button>
      <div class="pull-right col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <select class="js-select-invitation-state hallah-form-control">
          {{#each invitationStates}}
            {{#if selected}}
              <option value="{{id}}" selected>{{label}}</option>
            {{else}}
              <option value="{{id}}">{{label}}</option>
            {{/if}}
          {{/each}}
          <option value="remove">Remove</option>
        </select>
      </div>
    </li>
  {{/if}}
</template>
