<template name="invitationItem">
  <li class="invitation-item {{stateClass}}">
    <div class="invitation-item__guest-info">
      {{#with guest}}
        <input class="hallah-form-control invitation-item__guest-name js-guest-name" value="{{name}}" />
        <div class="invitation-item__dietary-restrictions dietary-restrictions js-edit-guest">
          {{#each dietaryRestrictions}}
            {{> dietaryRestrictionItem}}
          {{/each}}
        </div>
      {{/with}}
    </div>
    <h5 class="js-edit-invitation h-btn invitation-item__invitation-state">{{invitationStateLabelFor state}}</h5>
  </li>
</template>
