<template name="invitationEdit">
  {{#with editingInvitation}}
    <div class="hallah-modal-drop js-close-modal"></div>
    <div class="hallah-modal">
      <div class="h-modal__header">
        <h5>{{formatDate dinner.date}}</h5>
        <h4>{{guest.name}}</h4>
      </div>
      <ul class="h-radio-list">
        {{#each states}}
          <li>
            <a data-id="{{id}}" class="js-set-state h-radio-list__item {{invitationStateClasses}}">
              {{label}}
            </a>
          </li>
        {{/each}}
        <li class="h-radio-list__spacer"></li>
        <li><a class="h-radio-list__item js-remove-invitation h-radio-list__item--danger">Remove invitation</a></li>
      </ul>
    </div>
  {{/with}}
</template>
