<template name="invitationItem">
  <li class="invitation-item {{stateClass}} clearfix row">
    <div class="pull-left col-xs-6 invitation-item__guest-info">
      {{#with guest}}
        <input class="hallah-form-control invitation-item__guest-name js-guest-name" value="{{fullName}}" />
        <div class="invitation-item__dietary-restrictions dietary-restrictions js-edit-guest">
          {{#each dietaryRestrictions}}
            {{> dietaryRestrictionItem}}
          {{/each}}
        </div>
      {{/with}}
    </div>
    <div class="pull-right col-xs-6 col-sm-4 col-md-4 col-lg-4">
      <h5 class="js-edit-invitation h-btn invitation-item__invitation-state">{{invitationStateLabelFor state}}</h5>
    </div>
  </li>
</template>
